<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script type="text/javascript"
      src="http://static.twilio.com/libs/twiliojs/1.0/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
    </script>
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
 
      try {
        Twilio.Device.setup("{{token}}");
      } catch (err) {
        console.log("This browser phone requires Flash.");
      }
      
      Twilio.Device.ready(function (device) {
        $("#log").text("Ready");
      });
 
      Twilio.Device.error(function (error) {
        $("#log").text("Error: " + error.message);
      });
 
      Twilio.Device.connect(function (conn) {
        $("#log").text("Successfully established call");
      });
 
      Twilio.Device.disconnect(function (conn) {
        $("#log").text("Call ended");
      });
 
      function hangup() {
        Twilio.Device.disconnectAll();
      }
 
      function call() {
        client = 'client' + '{{client}}';
        params =  { "number" : client, "nickname" : "{{current_user}}"};
        Twilio.Device.connect(params);
      }
      
  </script>
  </head>
  <body>

 <div id="header">
  <span class="title"><a href="/">{{title}}</a></span>
  <span class="user-login">
    {{login}}
  </span>
 </div>
  
 <div id="log">Loading...</div>

 <div id="container">
   <div id="content">
    <span class="press-msg">press the phone to call {{name}}</span>
    <div id="call-button" onclick="call();"><img src="/img/red-phone.jpg" alt="phone"></div>
    <div style="padding-left:60px;"><button class="inputs" onclick="hangup();">Hangup</button></div>
   </div>
 </div>

  <div id="footer">
  <hr>
   <div id="powered-by">
     powered by:<br>
     <a href=http://code.google.com/appengine/><img src="img/gae-logo.png" alt="google app engine" height="30" width="30"></a>
     <a href=http://twilio.com><img src="img/twilio-logo.jpg" alt="twilio" height="30" width="30"></a>
   </div>
   <div id="me">
    <br><a href=http://gregtracy.com>greg tracy</a> | </a><a href="mailto:gtracy@gmail.com?subject=twilio%20phone%20feedback">send feedback</a>
   </div>
  </div>
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{google_analytics}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>