<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
 <title>I Don't Need No Stinking Phone</title>
 <link rel="stylesheet" type="text/css" href="css/style.css"> 
</head>
 <body>
  <div id="splash-content">
 
   <div class="splash-title">{{app_title}}</div>
   <div class="splash-desc">{{app_description}}</div>
 
   <div id="splash-login">
    {% if greeting %}
      {{greeting}}
    {% endif %}
    <h3>In order to access the phone for {{owner_name}},<br/>you'll need to login with one of the following accounts.</h3>
    {% for p in endpoints %}
      <a id="{{p.name}}" href="{{p.url}}"><img src="{{p.image}}"></img></a>
    {% endfor %}
    <p class="github">Interested in having your own browser-base phone? You can! <a href=http://github.com>Here's the code</a>.</p>
   </div>
   </div>
 </div>
 
  <div id="footer">
  <hr>
   <div id="powered-by">
     powered by:<br>
     <a href=http://code.google.com/appengine/><img src="img/gae-logo.png" alt="google app engine" height="30" width="30"></a>
     <a href=http://twilio.com><img src="img/twilio-logo.jpg" alt="twilio" height="30" width="30"></a>
   </div>
   <div id="me">
    <br><a href=http://gregtracy.com>greg tracy</a> | </a><a href="mailto:gtracy@gmail.com?subject=twilio%20phone%20feedback">send feedback</a>
   </div>
  </div>
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{google_analytics}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

 </body>
</html>